html{
        font-size:40%;
        overflow-x:hidden;
    }
    body{
        background:#68cdd5;
        font-size:1.6rem;
        color:#fff;
        margin:0;
    }
    img{
        background-size:80%;
    }
    .back{
        position:absolute;
        top: 2%;
        left:5%;
        width:100%;
    }
    .logo{
        position:absolute;
        top: 10%;
        text-align: center;
        width:100%;
    }
    .text{
        position:absolute;
        top:30%;
        left:15%;
        width:70%;
        line-height:2.5rem;
    }
    .icon_left,.icon_right{
        position:absolute;
        top:60%;
    }
    .icon_left{
        left:15%;
    }
    .icon_right{
        right:9%;
    }
    .message{
    position:relative;

    }
    .icon_left img{
        width:60%;
        height:60%
    }
    .icon_right img{
        width:60%;
        height: 60%;
    }
    .back img{
        width:30px;
    }
    .logo img{
        width:120px;
    }

