 body{
        font-size:62.5%;
    }
    header{
        position:fixed;
        top:0;
        left:0;
        right:0;
        height:8.8125rem;
        background-color:rgb(41, 189, 224);
        color:white;
        z-index:99;
    }
    header .row1{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:100%;
        height:3.6875rem/* 59px */;
    }
    header .home{
        background:url('../images/home.png') no-repeat;
        background-size:100%;
        height:2.125rem/* 34px */;
        width:2.125rem/* 34px */;
        margin-left:1.4375rem/* 23px */;
    }
    header .quit{
        background:url('../images/quit.png') no-repeat;
        background-size:100% 100%;
        height:2.125rem/* 34px */;
        width:2.125rem/* 34px */;
        margin-right:1.4375rem/* 23px */;
    }
    header .title{
        font-size:2.125rem/* 34px */;
        color:white;
        line-height:2.125rem/* 34px */;
    }
    header .row2{
        height:5.125rem/* 82px */;
        font-size:1.625rem/* 26px */;
        line-height:5.125rem;
        background-color:rgb(185, 233, 245);
    }
    header .row2 p{
        margin-left:2.875rem/* 46px */;
        width:70%;
        margin-right:0;
        color:black;
    }
    header .row2 .head-player{
        position:absolute;
        right:1rem/* 16px */;
        top:4.6875rem/* 75px */;
        height:3.25rem/* 52px */;
        width:3.25rem/* 52px */;
        background:url('images/player_03.png') no-repeat;
        background-size:100%;
        background-color:transparent;
    }
    .row2::after{
        content:"";
        position:relative;
        top:-23px;
        bottom:0;
        left:44px;
        border:10px solid transparent;
        border-top-color:rgb(185,233,245);
        border-width:10px 7px;
    }
    footer{
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        height:9.375rem;/* 150px */
        background-color:rgb(41, 189, 224);

    }
    footer input{
        background-color:rgb(251, 180, 53);
        color:white;
        text-align:center;
        width:75vw;
        font-size:2.5rem/* 40px *//* 22px */;
        height:4.1875rem/* 67px */;
        line-height:4.1875rem/* 67px */;
        margin-top:2.1875rem/* 35px */;
        margin-left:12.5%;
        border:none;
    }
    main{
        position:absolute;
        top:8.8125rem;
        left:0;
        right:0;
        bottom:0;
        width:100%;
        background-color:rgb(41, 189, 224);
    }
    main .container-fluid{
        padding-left:30px;
        padding-right:30px;
    }
    main .row3{
        height:3.125rem/* 50px */;
        line-height:3.125rem/* 50px */;
        width:100%;
        background-color:rgb(41, 189, 244);
    }
    main .row3 p{
        margin:0 0 0 3.8rem;
        font-size:1.5rem/* 24px */;
        color:white;
    }
    main .container-fluid{
        background-color:rgb(41, 189, 224);
        padding-bottom:9.375rem;
    }
    main .item{
        text-align:center;
        margin-top:5px;
        height:33.33333vw;
    }
    main .box{
        width:22vw;
        height:22vw;
        border:.75vw solid white;
        display:inline-block;
        margin-top:7px;
    }
    main .box .job{
        height:16vw;
        width:20.53vw;
        background-color:rgb(245, 201, 123);
        font-size:5.25vw;
    }
    main .box>.job>p{
        text-align:center;
        line-height:16vw;
    }
    main .box .num{
        height:4.5vw;
        background-color:rgb(131, 176, 154);
        font-size: 3vw;
    }
    main .box>.num>p{
        color:white;
        text-align:center;
        line-height:5.25vw;
    }
    main .signs{
        display:inline-block;
        height:5vw;
        width:23vw;
        margin-top:2vw;
        display:none;
        text-align:center;
    }
    .item:hover .signs{
        display:block;
    }
    main .signs img{
        padding:0;
        height:5vw;
        width:5vw;
        background-color:white;
    }
    .signs .img1{
        margin-right:1vw;
        float:left;
    }
    .sign .img2{
        margin:0;
        float:left;
    }
    .content{
        display:inline-block;
    }